<div class="dashboard">
    <ul class="dashboard-links">
        <li id="profileTab">
            <a href="./profile">Profile</a>
        </li>
        <li id="todayScheduleTab">
            <a href="./todayschedule">Today's Schedule</a>
        </li>
        <li id="scheduleTab">
            <a href="./schedule">Schedules</a>
        </li>
        <li id="activityTab">
            <a href="./activity">Activities</a>
        </li>
        <li id="setSchedulesTab">
            <a href="./setschedules">Set Schedules</a>
        </li>
        <li id="logoutTab">
            <a href="./logout">Logout</a>
        </li>
    </ul>
</div>