<div class="question-wrapper">
    <form id="userPrefForm">
        <div class="userPrefs">
            <div class="question">
                <label for="user-ans">Question-1</label>
                <input type="text" name="user-ans">
            </div>
            <div class="question">
                <label for="user-ans">Question-1</label>
                <input type="text" name="user-ans">
            </div>
            <div class="question">
                <label for="user-ans">Question-1</label>
                <input type="text" name="user-ans">
            </div>
            <div class="question">
                <label for="user-ans">Question-1</label>
                <input type="text" name="user-ans">
            </div>
            <div class="question">
                <label for="user-ans">Question-1</label>
                <input type="text" name="user-ans">
            </div>
            <input type="submit" id="saveBtn" value="Save">
        </div>
    </form>
</div>